# Dependencias
node_modules/

# Build outputs
dist/
dist-electron/
release/

# Base de datos local
*.db
*.sqlite

# Variables de entorno
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo